#N
io_in\[1[2-9]\]
io_in\[2[0-4]\]
io_out\[1[2-9]\]
io_out\[2[0-4]\]
io_oeb\[1[2-9]\]
io_oeb\[2[0-4]\]

#E
io_in\[2[5-9]\]
io_in\[3[0-7]\]
io_out\[2[5-9]\]
io_out\[3[0-7]\]
io_oeb\[2[5-9]\]
io_oeb\[3[0-7]\]
analog_io\[.*\]
vccd1
vssd1
vdda1
vssa1

#S
io_in\[[0-9]\]
io_in\[1[0-1]\]
io_out\[[0-9]\]
io_out\[1[0-1]\]
io_oeb\[[0-9]\]
io_oeb\[1[0-1]\]
user_irq\[.*\]
user_clock2

#W
wb_clk_i
wb_rst_i
wbs_.*
la_.*
vccd2
vssd2
vdda2
vssa2
